body {
  background-color: blanchedalmond;
}
.formcls {
  background-color: lightblue;
  width: 20%;
  padding: 25px;
  border-radius: 20px;
}
.topcls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  width: 200px; /* Set the width of the input */
  padding: 10px; /* Add padding to give it some space inside */
  font-size: 16px; /* Set the font size */
  border: 1px solid #ccc; /* Add a border with a color */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f4f4f4; /* Set the background color */
  color: #333; /* Set the text color */
}
button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for button size */
  font-size: 16px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}
.btnSubmit {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for button size */
  font-size: 16px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

/* Button hover effect */
.btnSubmit:hover {
  background-color: #0056b3; /* Change color on hover */
}
.btnSignIn {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding for button size */
  font-size: 16px;
  background-color: green; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  margin: 5px;
}
.btnSignIn:hover {
  background-color: green;
  padding: 15px 25px;
}
